a {
    text-decoration: none;
    color: inherit;
}

body {
    margin-top: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .dropdown-menu {
    right: 0%;
    position: absolute;
}

.dropdown-item {
    max-width: 350px;
    white-space: normal;
}

.dropdown-toggle {
    white-space: normal;
}

.extra-nav-items {
    display: flex;
    align-items: center;
}

#default-notification p {
    margin: 0;
}

#dropdown-notify {
    overflow-y: auto;
    max-height: 400px;
    min-width: 15rem;
}
