a {
    text-decoration: none;
    color: inherit;
}

body {
    margin-top: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .dropdown-menu {
    right: 0%;
    position: absolute;
}