{% extends 'base.html' %}

{% block styles %}
<link href="../static/css/main.css", rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="manager-id" class="hide_it">
  {{ current_user.id }}
</div>
{% if user_id %}
  <div id="user_to_preload" class="hide_it">{{ user_id }}</div>
{% endif %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <input type="text" onkeyup="SearchChat()" id="find-user-input" class="form-control" placeholder="Search...">
                </div>
                <div class="dialogs-group">
                <ul class="list-unstyled chat-list mt-2 mb-0" id="user-list">
                    {% for user in users %}
                      {% if not user.is_banned %}
                        <li class="d-flex justify-content-between" id="dialog_{{ user.id }}" value="{{ user.id }}">
                          <!-- <div class="diaolg-id" id="dialog_{{ user.id }}"></div> -->
                            <div class="avatar_and_nickname">
                              <img src="../{{ user.avatar_path }}" alt="avatar">
                              <div class="about">
                                  <div class="name">{{ user.nickname }}</div>
                                  <!-- <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                             -->
                              </div>
                            </div>
                            {% if user.unread_count != 0%}
                              <div class="unread_msgs rounded-circle">
                                <p  id="unread_{{ user.id }}" class="text-white bg-info rounded-circle">{{ user.unread_count }}</p>
                              </div>
                            {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="chat justify-content-between d-flex" id="chat-win">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="module" src="../static/js/api_methods.js"></script>
<script type="module" src="../static/js/rendermessages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="module" src="../static/js/socket_client.js" charset="utf-8"></script>
<script type="module" src="../static/js/notifications.js"></script>
<script>
    function SearchChat() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('find-user-input');
      filter = input.value.toUpperCase();
      ul = document.getElementById("user-list");
      li = ul.getElementsByTagName('li');

      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByClassName("name")[0];
        console.log(a.textContent)
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
          if (!(li[i].classList.contains('d-flex'))) {
            li[i].classList.add('d-flex');
          }
        } else {
          li[i].classList.remove('d-flex');
          li[i].style.display = "none";
        }
      }
    }
    </script>

{% endblock %}